@import "variables.scss";

.navbar {
    border-style: solid;
    border-width: $borderWidth;
    padding: 15px;
}
.container {
    display: flex;
    flex-direction: row;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    border-radius: $borderRadius;
    background-color: rgba(112, 128, 144, .25);
}
.lists {
    width: 200px;
    font-size: $fontSize1;
    text-align: center;
    padding-top: $topPadding;
}
.listInfo {
    display: flex;
    flex-direction: column;
}
.listName {
    border-bottom: solid;
    border-width: $borderWidth;
    border-color: rgb(0, 0, 0, .25);
    margin: $margin;
    font-size: $fontSize2;
}
.addListItem {
    margin: $margin;
}
.listItems {
    margin: $margin;
}